@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

body {
  transition: 0.3s;
  margin: 0;
  padding: 0;
  background-color: rgb(244, 241, 241);
  font-family: 'Concert One', cursive;
  /*font-family: 'Source Sans Pro', sans-serif;*/
  color:rgb(57, 57, 57);
  background: url("images/patitas.png");
}


img {
  max-width: 100%;
} 

.dark a {
  color:rgb(246, 169, 241);
}














/*******************boton dark mode****************************/

header {
  display: flex;
  justify-content: flex-end;
  padding: 30px;
  background-color: rgba(141, 2, 255, 0.3)
}

.switch {
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(39, 38, 38);
  position: relative;
}

.flicker {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  left: 5px;
  transition: 0.3s;
  box-shadow: 
    inset 4px 4px 4px rgb(255,255,255),
    inset -4px -4px 4px rgb(195 193 198 / 90%);
}

.dark {
  background-color: rgb(57, 57, 57);
  transition: 0.3s;
}

.moon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  left: 45px;
}

.dark .flicker {
  transform: translateX(40px);
}

.dark > * {
 color:rgb(255, 255, 255);
}

/****************************************************/




.main {
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.main__titulo {
  font-family: 'Oxygen', sans-serif;
  /*font-family: 'Poppins', sans-serif;*/
  font-size: calc(2rem + 1.5vw);
  padding: 1rem 0;
  margin: 0 0 2rem 0;
  text-align: center;
}

.main__about {
  font-size: calc(1rem + 0.5vw);
}

.main__texts {
  padding: 2rem;
  margin-bottom: 2rem;
}



/**************libros***********/



.texto-libros {
  font-size: calc(1.5rem + 0.5vw);
  color: rgb(1, 37, 83);
  background-color: rgba(141, 2, 255, 0.3);
  text-align: center
}
.dark .texto-libros{
  color: #CCC;
}



.libros {
  width: 50%;
  position: relative;
  height: 20rem;
  display: block;
  margin-bottom: 2rem;
}

.cube {
  position: absolute;
  width: 80px;
  height: 80px;
  transform: rotate(-25deg) skew(25deg);
}

.cube:before {
  position: absolute;
  content: "";
  width: 21px;
  height: 100%;
  transform: skewY(-45deg);
  left: -20px;
  bottom: -10px;
}

.cube:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 21px;
  transform: skewX(-45deg);
  left: -10px;
  bottom: -20px;
}


#gato1 {
  left: 20%;
  bottom: 150px;
  background-image: url("images/libros/otto.png");
  background-size: cover;
  background-color: rgb(227, 119, 191);
  box-shadow: -100px 100px 20px rgb(50 50 50/ 15%);
}

#gato1:before {
  background-color: rgb(221, 154, 207);
}

#gato1:after {
  background-color: rgb(221, 188, 211);
}



#gato2 {
  left: 70%;
  bottom:150px;
  background-image: url("images/libros/fran.png");
  background-size: cover;
  background-color: rgb(119, 227, 186);
  box-shadow: -40px 40px 20px rgb(50 50 50/ 15%);
}

#gato2:before {
  background-color: rgb(154, 221, 202);
}

#gato2:after {
  background-color: rgb(188, 221, 212);
}




#gato3 {
  left: 43%;
  bottom: 19%;
  background-image: url("images/libros/comi.png");
  background-size: cover;
  background-color: rgb(119, 193, 227);
  box-shadow: -80px 80px 20px rgb(50 50 50/ 15%);
}

#gato3:before {
  background-color: rgb(154, 189, 221);
}

#gato3:after {
  background-color: rgb(188, 200, 221);
}



#gato4 {
  left: 20%;
  bottom: 0px;
  background-image: url("images/libros/dralag.png");
  background-size: cover;
  background-color: rgb(175, 119, 227);
  box-shadow: -60px 60px 20px rgb(50 50 50/ 15%);
}

#gato4:before {
  background-color: rgb(189, 154, 221);
}

#gato4:after {
  background-color: rgb(205, 188, 221);
}



#gato5 {
  left:  70%;
  bottom: 0px;
  background-image: url("images/ciru/1.jpg");
  background-size: cover;
  background-color: rgb(216, 153, 16);
  box-shadow: -40px 40px 20px rgb(50 50 50/ 15%);
}

#gato5:before {
  background-color: rgb(218, 208, 76);
}

#gato5:after {
  background-color: rgb(221, 215, 161);
}









/****************pop up****************/




.popupBody{      
  position: fixed;
  top: 1.5vh;
  left: 10%;
  right: 10%;
  width: 80%;
  height: 80%;
  display: flex;  
  align-items: center; 
  border-radius: 1vh;
  border: 1vh solid  rgba(141, 2, 255, 0.5);;
  box-shadow: 0 0 5px #CCC;
  /*background: rgb(175, 119, 227,0.5);*/
  background: url("images/patitas.png");
   transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 8;
}

.visible{  
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
}


.popupBody:target {
  visibility: visible;
  opacity: 1;
  
  
}


#cerrar{
  position: absolute;
  top: 10px;
  right: 15px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #F00;
  z-index: 11;
}
  

.popupBody h2{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  margin: auto;
  color: rgba(141, 2, 255, 0.5);
  font-size: 5vh;
  background-color: rgba(0, 0, 0, 0.4);
}





/*********************Fin de mi galeria*****************************/



.botonD {
  position: absolute;
  top: 0;
  right: 15px;
  z-index:10;
}  
  
  
.botonI {
  position: absolute;
  left: 10px;
  top: 0;
  z-index: 10;
}
  

#Diapositiva {
 position: absolute;
 top: 0;
 left: 0; 
 right: 0;
 bottom: 0;
 width: 80%;
 height: 80%;
 margin: auto;
 background: rgb(141, 2, 255);
 object-fit: contain;
 z-index: 9; 
}	
  
#Diapositiva img{    
  max-width: 100%;
  max-height: 100%;
}
    
#video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  height: 80%;
  margin: auto;
  background: rgb(141, 2, 255);
  object-fit: contain;
  z-index: 7;
}

#video video{ 
  max-width: 100%;
  max-height: 100%;
  z-index: 7;
}


#contador{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 60px;
  margin: auto;
  width: 6vh;
  color: rgba(0, 0, 0,1);
  font-size: 2vh;
  border-radius: 1.5vh;
  border: 0.6vh solid  rgba(141, 2, 255, 0.5);;
  background-color: rgba(250, 250, 250, 0.6);
  z-index: 11;
  text-align: center;
}






/*************************PORTADAS**************************/
/*

#portada1 {
  background-image: url("images/cat\ 1.jpg");
  background-size: cover;
}

#portada2 {
  background-image: url("images/cat2.png");
  background-size: cover;
}

#portada3 {
  background-image: url("images/tofu/1.jpg");
  background-size: cover;
}

#portada4 {
  background-image: url("images/comino/4.jpg");
  background-size: cover;
}


#portada5 {
  background-image: url("images/ciru/1.jpg");
  background-size: cover;
}


#portada6 {
  background-image: url("images/draclag/1.jpg");
  background-size: cover;
}

*/



/********************cuerpo principal************************/



.gatos-adopcion{
  width: 100%;
  margin: auto;
  padding: 5vw 0 0 0;
  text-align: center;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}


.gatos-adopcion li{
  /*position: relative;
top: 0;
left: 0;
  display: inline-block;
  text-align: center;*/
  width: 45%;
   
  margin: 1.5%;
  padding: 0.1vw 0.7vh;
  border: 0.6vh solid  rgba(141, 2, 255, 0.5);
  border-radius: 10px;

}



.nombre-gatitos {
  color: rgb(1, 37, 83);
  background-color: rgb(152, 185, 247, 0.5);

}


.gatos-adopcion h2{
  font-size: 5vh;
  font-weight: bold;
  background: rgba(141, 2, 255, 0.3);
}
.info-gatito{
  
  top: 750px;
  font-size: 3vh;
  color: #CCC;
  font-weight: bold;
  background: rgba(141, 2, 255, 0.6);
}

.gatos-adopcion a{
  text-decoration: none;
}

.contain {
  object-fit: contain; 
z-index: -1;

}



/****************************************************/














footer {
  display: block;
    text-align: center;
    padding: 10px 0 0 0; 
    background-color:rgba(141, 2, 255, 0.3);
    margin: 5vw 0 0 0;
    width: 100%;
    height: 10vw;
}

#contactanos{
  font-size: 3vw;
  color: rgb(82, 3, 146);
  font-style: italic;
  font-weight: 300;
}
.dark #contactanos{
  color: #CCC;
}
#insta{
display: inline;
height: 10vh;

}

#insta div{
  display: inline;
}

#insta p{
padding-left: 10vw;
display: inline;
font-size: 4vw;
}

.logo{
  position: absolute;
  height: 10vw;
  width:10vw;
  
}
.instalogo{
  padding-top: 1.2vw;
  position: absolute;
  height: 4vw;
  width: 4vw;
}
.paw{
  position: absolute;
  height: 6vw;
  width:6vw;
  opacity: 0.01;
  z-index: 5;
}
.paw:hover{
  position: absolute;
 opacity: 1;
 transition: opacity 500ms;
 }
 .paw:active{
  position: absolute;
 opacity: 1;
 transition: opacity 500ms;
 height: 5vw;
width: 5vw; 
}
 
.paw2{
  position: absolute;
  left: 52.5%;
  height: 6vw;
  width:6vw;
  opacity: 0.01;
  z-index: 5;
}
.paw2:hover{
  position: absolute;
 opacity: 1;
 transition: opacity 500ms;
 }
 .paw2:active{
  position: absolute;
 opacity: 1;
 transition: opacity 500ms;
 height: 5vw;
width: 5vw; 
}

 



.dark footer {
  color:rgb(119, 193, 227);
  background-color: rgb(16, 26, 32);
}

@media only screen and (min-width: 970px) {
  .main-text {
    width: 50%;
  }

 
}

@media only screen and (max-width: 1300px) {
  .libros {
    display: none;
  }
}

@media (max-width: 767px)
{
  .gatos-adopcion li{
    width: 80%;
  }
}